<Fluxor.Blazor.Web.StoreInitializer />
<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context?.User?.Identity?.IsAuthenticated ?? false)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>EN:</p>
                        <h1>Sorry</h1>
                        <p>You're not authorized to reach this page.</p>
                        <p>You may need to log in as a different user.</p>

                        <p>PL:</p>
                        <h1>Przepraszamy</h1>
                        <p>Nie posiadasz autoryzacji by oglądać tą stronę.</p>
                        <p>Zaloguj się na innego użytkownika.</p>
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>EN:</p>
                    <h1>Authentication in progress</h1>
                    <p>Only visible while authentication is in progress.</p>
                    <p>PL:</p>
                    <h1>Trwa autentyfikacja</h1>
                    <p>Trwa łączenie się z serwerem - komunikat za chwilę zniknie.</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>EN:Sorry, there's nothing at this address.</p>
                    <p>PL:Przepraszamy, pod tym adresem nie ma niczego dostępnego.</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</Blazorise.ThemeProvider>
@code{
    private Theme theme = new()
    {
        BarOptions = new ThemeBarOptions
        {
            HorizontalHeight = "64px"
        },
        BreakpointOptions = new ThemeBreakpointOptions
        {
        },
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#0288D1",
 
        },
        BackgroundOptions = new ThemeBackgroundOptions
        {
            Primary = "#0288D1",
        },
        TextColorOptions = new ThemeTextColorOptions
        {
        },
      
        InputOptions = new ThemeInputOptions
        {
            CheckColor = "#0288D1",
        },
  
    };
}