<Container Fluid="true">

    @foreach (var comment in Comments)
    {
        <ItemComment MyComment="@comment" />
    }

    <Fields>
        <Column ColumnSize="ColumnSize.Is11">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <Validations @ref="validations" Mode="ValidationMode.Manual">
                        <Validation Validator="@ValidationRule.IsNotEmpty">
                            <MemoEdit Rows="3" @bind-Text="@_myValue" Placeholder="@_myText.AddComment" KeyDown="KeyPressedText">
                                <Feedback>
                                    <FieldHelp>@_myText?.CommentAddHelp</FieldHelp>
                                    <ValidationError>@_myText?.CommentAddError</ValidationError>
                                </Feedback>
                            </MemoEdit>
                        </Validation>
                    </Validations>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Color="Color.Primary" Clicked="OnAddObject">
                        <Icon Name="IconName.Add" />@_myText.Add
                    </Button>
                </Addon>
            </Addons>
        </Column>
    </Fields>
</Container>