
<Container Fluid="true">
    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromTop">
                <CardBody Padding="Padding.Is0.FromBottom">
                    <Fields>
                        <Column ColumnSize="ColumnSize.Is11">
                            <Addons>
                                <Addon AddonType="AddonType.Body">
                                    <Validations @ref="validations" Mode="ValidationMode.Manual">
                                        <Validation Validator="@ValidationRule.IsNotEmpty">
                                            <TextEdit @bind-Text="@_myValue" Placeholder="@_myText.addComment"></TextEdit>
                                        </Validation>
                                    </Validations>
                                </Addon>
                                <Addon AddonType="AddonType.End">
                                    <Button Color="Color.Primary" Clicked="OnAddObject">
                                        <Icon Name="IconName.Add" />@_myText.add
                                    </Button>
                                </Addon>
                            </Addons>
                        </Column>
                    </Fields>
                </CardBody>
                <CardBody Padding="Padding.Is0.OnY">
                    <ListGroup Flush="true">
                        @foreach (var comment in Comments)
                        {
                            <ItemComment MyComment="@comment" />
                        }
                    </ListGroup>
                </CardBody>
            </Card>

        </Column>
    </Row>
</Container>