@using OriinDic.Helpers
@inherits LayoutComponentBase
<Sidebar @ref="MySidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="">@_myText.ShortHeader</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarLabel>@_myText.HeaderMain</SidebarLabel>
            <SidebarItem>
                <SidebarLink To="/" Title="@_myText.HeaderShowDashboardBase">
                    <Icon Name="IconName.Search" Margin="Margin.Is3.FromRight" />@_myText.HeaderDashboard
                </SidebarLink>
            </SidebarItem>
            <AuthorizeView Roles="@Const.RolesEditors">
                <Authorized>
                    <SidebarItem>
                        <SidebarLink To="comments" Title="@_myText.Comments">
                            <Icon Name="IconName.Mail" Margin="Margin.Is3.FromRight" />@_myText.Comments
                        </SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="links" Title="@_myText.Links">
                            <Icon Name="IconName.MoreHorizontal" Margin="Margin.Is3.FromRight" />@_myText.Links
                        </SidebarLink>
                    </SidebarItem>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="@Const.RolesBaseEditors">
                <Authorized>
                    <SidebarItem>
                        <SidebarLink To="addbaseterm" Title="@_myText.AddBase">
                            <Icon Name="IconName.Add" Margin="Margin.Is3.FromRight" />@_myText.AddBase
                        </SidebarLink>
                    </SidebarItem>
                </Authorized>
            </AuthorizeView>
            <SidebarLabel>@_myText.HeaderUser</SidebarLabel>
            <AuthorizeView>
                <Authorized>
                    <SidebarItem>
                        <SidebarLink To="LogOut" Title="@_myText.LogOut">
                            <Icon Name="IconName.User" Margin="Margin.Is3.FromRight" />@_myText.LogOut
                        </SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="PersonalData" Title="@_myText.PersonalData">
                            <Icon Name="IconName.User" Margin="Margin.Is3.FromRight" />@_myText.PersonalData
                        </SidebarLink>
                    </SidebarItem>
                </Authorized>
                <NotAuthorized>
                    <SidebarItem>
                        <SidebarLink To="Login" Title="@_myText.LogIn">
                            <Icon Name="IconName.User" Margin="Margin.Is3.FromRight" />@_myText.LogIn
                        </SidebarLink>
                    </SidebarItem>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView Roles="@Const.RolesUsersEditors">
                <Authorized>
                    <SidebarItem>
                        <SidebarLink To="Users" Title="@_myText.LogIn">
                            <Icon Name="IconName.User" Margin="Margin.Is3.FromRight" />@_myText.Users
                        </SidebarLink>
                    </SidebarItem>
                </Authorized>
            </AuthorizeView>

            <SidebarItem>
                <SidebarLink To="Settings" Title="@_myText.PersonalSettings">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />@_myText.PersonalSettings
                </SidebarLink>
            </SidebarItem>
            <SidebarLabel>@_myText.HeaderDictionaries</SidebarLabel>
            <SidebarItem>
                <SidebarLink To="dictionaryLanguages" Title="@_myText.HeaderShowLanguages">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />@_myText.HeaderLanguages
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

<div class="app-main">
    <Bar Class="app-bar" Breakpoint="Breakpoint.Desktop" Background="Background.Primary" ThemeContrast="ThemeContrast.Dark">
        <BarBrand>
            <BarItem>
                <BarLink To="">
                    <Icon Name="IconName.Search" />
                    @_myText.Header
                </BarLink>
            </BarItem>
        </BarBrand>
        <BarToggler Clicked="@ToggleSidebar">

        </BarToggler>
        <BarMenu>
            <BarStart>
                <BarItem>
                    <AuthorizeView>
                        <Authorized>
                            <BarLink To="PersonalData">
                                <Icon Name="IconName.User" /> @_myText.Hello, @context?.User?.Identity?.Name!
                            </BarLink>
                            <BarLink To="LogOut">@_myText.LogOut</BarLink>
                        </Authorized>
                        <NotAuthorized>
                            <BarLink To="Login">@_myText.LogIn</BarLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </BarItem>
            </BarStart>
            <BarEnd>
                <BarItem>
                    <BarDropdown>
                        <BarDropdownToggle class="oi oi-globe" @ref="DropDownToggle">
                            @_currentLanguage
                        </BarDropdownToggle>
                        <BarDropdownMenu>
                            <BarDropdownItem Clicked="@EnUiLanguageClicked">EN</BarDropdownItem>
                            <BarDropdownItem Clicked="@PlUiLanguageClicked">PL</BarDropdownItem>
                        </BarDropdownMenu>
                    </BarDropdown>
                </BarItem>
                <BarItem>
                    <BarLink To="https://www.popko.pl/">Popko.pl</BarLink>
                </BarItem>
            </BarEnd>
        </BarMenu>
    </Bar>
    <div class="app-content content px-4">
        @Body
    </div>
</div>