<Addons>
    <Addon AddonType="AddonType.Start">
        <Button Color="@GetNextColor()"
                Clicked="@(async () => await OnClickCallback.InvokeAsync(OriinDictionary7.Helpers.Const.PaginationBackName))"
                IsDisabled="@GetNextIsDisabled()">
            @NextText
        </Button>

    </Addon>
    <Addon AddonType="AddonType.Body">
        @if (LocalPages is not null)
{
foreach (var locPage in LocalPages)
{
    <Button @key="locPage.Name"
                        Color="@locPage.ButtonColor(SearchPageNr)"
                        Clicked="@(async () => await OnClickCallback.InvokeAsync(locPage.Name))"
                        IsDisabled="@locPage.ButtonIsDisabled(SearchPageNr)"
                        IsActive="@locPage.ButtonIsDisabled(SearchPageNr)">
                    @locPage.Name
                </Button>
}
}
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="@GetBackColor()"
                Clicked="@(async () => await OnClickCallback.InvokeAsync(OriinDictionary7.Helpers.Const.PaginationNextName))"
                IsDisabled="@GetBackIsDisabled()">
            @PrevText
        </Button>

    </Addon>
</Addons>