@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<h1 class="mt-3">@HeaderText</h1>

@if (IsLoading)
{
    <Button IsLoading="@IsLoading">@LoadingText</Button>
}

<SnackbarStack @ref="_snackbarStack" Location="SnackbarStackLocation.Center"/>


@if (!string.IsNullOrEmpty(CurrentAlertText))
{
    <Alert Color="Color.Info" @ref="MyAlertYesNo" Dismisable="false">
        <Heading Size="HeadingSize.Is4" TextColor="TextColor.Danger">
            @CurrentAlertHeader
            <CloseButton />
        </Heading>
        <Paragraph>
            @CurrentAlertText
        </Paragraph>
        <Paragraph>
            <Button Color="Color.Warning" @onclick="OnOk" >@CurrentAlertOk</Button>
            <Button Color="Color.Info" @onclick="OnCancel" >@CurrentAlertCancel</Button>
        </Paragraph>
    </Alert>
}