@page "/comments"
@inherits DicBasePage

<PageHeader IsLoading="@(CommentState?.Value.IsLoading ?? true)" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.Loading" HeaderText="@MyText?.Comments" />

<DataGrid TItem="Comment"
          Data="@CommentState?.Value.RootObject?.Results"
          ReadData="@OnReadData"
          TotalItems="@_totalComments"
          ShowPager="false"
          Editable="false"
          Sortable="true"
          Filterable="false"
          Striped="true"
          Bordered="true"
          Hoverable="true"
          RowRemoved="@OnRowRemoved"
          @bind-SelectedRow="@_selectedComment"
          DetailRowTrigger="@((item)=> item.Id == _selectedComment?.Id)">
    <DataGridColumns>

        <DataGridColumn TItem="Comment" Field="@nameof(Comment.Id)" Caption="@MyText?.CommentId" Sortable="true" Editable="false">
            <DisplayTemplate>
                <Button Color="Color.Danger" Clicked="@(()=> OnRowRemoved(context))">@MyText?.Delete (@context.Id)</Button>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="Comment" Field="@nameof(Comment.Text)" Caption="@MyText?.CommentText" Sortable="true" Editable="true" />
        <DataGridColumn TItem="Comment" Field="@nameof(Comment.Date)" Caption="@MyText?.CommentDate" Sortable="true" Editable="true">
            <DisplayTemplate>
                @($"{(context as Comment)?.Date:g}")
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="Comment" Field="@nameof(Comment.TranslationId)" Caption="@MyText?.CommentsTranslation" Sortable="true" Editable="true">
            <DisplayTemplate>
                <Link To="@($"/edittranslation/{context.TranslationId}")" Title="@MyText?.CommentsTranslation">
                <Icon Name="@("fa-language")" />&nbsp;@context.TranslationId
                </Link>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="Comment" Field="@nameof(Comment.User)" Caption="@MyText?.CommentsUser" Editable="true">
            <DisplayTemplate>
                <Link To="@($"/user/{context.User?.Id}")" Title="@($"{context.User?.FirstName} {context.User?.LastName}")">
                <Icon Name="@("fa-user-alt")" />&nbsp;@context.User?.UserName
                </Link>
            </DisplayTemplate>
        </DataGridColumn>

    </DataGridColumns>
</DataGrid>
