@page "/links"
@inherits DicBasePage

<PageHeader IsLoading="@(LinksState?.Value.IsLoading ?? true)" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.Loading" HeaderText="@MyText?.Links" />


<DataGrid TItem="OriinLink"
          Data="@LinksState?.Value?.RootObject?.Results"
          ReadData="@OnReadData"
          TotalItems="@LinksState?.Value?.RootObject?.Results?.Count"
          ShowPager="false"
          Editable="false"
          Sortable="true"
          Filterable="false"
          Striped="true"
          Bordered="true"
          Hoverable="true"
          RowRemoved="@OnRowRemoved"
          @bind-SelectedRow="@_selectedOriinLink"
          DetailRowTrigger="@((item)=> item.Item.Id == _selectedOriinLink?.Id)">
    <DataGridColumns>

        <DataGridColumn TItem="OriinLink" Field="@nameof(OriinLink.Id)" Caption="@MyText?.LinkId" Sortable="true" Editable="false">
            <DisplayTemplate>
                <Button Color="Color.Danger" Clicked="@(() => OnRowRemoved(context))">@MyText?.Delete (@context.Id)</Button>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="OriinLink" Field="@nameof(OriinLink.Link)" Caption="@MyText?.LinkLink" Sortable="true" Editable="true">
            <DisplayTemplate>
                <Blazorise.Link To="@context.Link" Title="@context.Link" Target="Target.Blank">
                    <Icon Name="@("fa-link")" />&nbsp;@context.Link
                </Blazorise.Link>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="OriinLink" Field="@nameof(OriinLink.BaseTermId)" Caption="@MyText?.LinkBaseTerm" Sortable="true" Editable="true">
            <DisplayTemplate>
                @if (context.BaseTermId is not null) { 
                <Blazorise.Link To="@($"/editbaseterm/{context.BaseTermId}")" Title="@MyText?.LinkBaseTerm">
                        <Icon Name="@("fa-scroll")" />&nbsp;@context.BaseTermId
                    </Blazorise.Link>
             }
             </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="OriinLink" Field="@nameof(OriinLink.TranslationId)" Caption="@MyText?.LinkTranslation" Sortable="true" Editable="true">
            <DisplayTemplate>
                @if (context.TranslationId is not null)
            {
                <Blazorise.Link To="@($"/edittranslation/{context.TranslationId}")" Title="@MyText?.LinkTranslation">
                        <Icon Name="@("fa-language")" />&nbsp;@context.TranslationId
                    </Blazorise.Link>
            }
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>

