@page "/links"
@inherits DicBasePage

<PageHeader IsLoading="@LinksState.Value.IsLoading" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.loading" HeaderText="@MyText?.comments" />


<DataGrid TItem="OriinLink"
          Data="@LinksState.Value.RootObject?.Results"
          ReadData="@OnReadData"
          TotalItems="@_totalOriinLinks"
          ShowPager="false"
          Editable="false"
          Sortable="true"
          Filterable="false"
          Striped="true"
          Bordered="true"
          Hoverable="true"
          RowRemoved="@OnRowRemoved"
          @bind-SelectedRow="@selectedOriinLink"
          DetailRowTrigger="@((item)=> item.Id == selectedOriinLink?.Id)">
    <DataGridColumns>

        <DataGridColumn TItem="OriinLink" Field="@nameof(OriinLink.Id)" Caption="@MyText?.linkId" Sortable="true" Editable="false">
            <DisplayTemplate>
                <Button Color="Color.Danger" Clicked="@(() => OnRowRemoved(context))">@MyText?.delete (@context.Id)</Button>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="OriinLink" Field="@nameof(OriinLink.Link)" Caption="@MyText?.linkLink" Sortable="true" Editable="true">
            <DisplayTemplate>
                <div class="box">
                    <a href="context.Link">@context.Link</a>
                </div>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="OriinLink" Field="@nameof(OriinLink.BaseTermId)" Caption="@MyText?.linkBaseTerm" Sortable="true" Editable="true">
            <DisplayTemplate>
                <div class="box">
                    <a href="/editbaseterm/@context.BaseTermId">@context.BaseTermId</a>
                </div>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="OriinLink" Field="@nameof(OriinLink.TranslationId)" Caption="@MyText?.linkTranslation" Sortable="true" Editable="true">
            <DisplayTemplate>
                <div class="box">
                    <a href="/edittranslation/@context.TranslationId">@context.TranslationId</a>
                </div>
            </DisplayTemplate>
        </DataGridColumn>


    </DataGridColumns>

</DataGrid>

