@page "/addbaseterm"
@using OriinDic.Helpers
@inherits DicBasePage
<PageHeader IsLoading="@(BaseTermsState?.Value.IsLoading ?? false)" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.loading" HeaderText="@MyText?.headerBaseTermNew" />

<Row>
    <Column>
        <h1>@MyText?.addTranslation</h1>
        <AuthorizeView Roles="@Const.RolesBaseEditors">
            <Authorized>
                @if (!(BaseTermsState?.Value?.BaseTerm is null))
                {
                    <Card Margin="Margin.Is4.OnY">
                        <CardHeader>
                            <CardTitle>[@BaseTermLanguage]@BaseTermsState.Value.BaseTerm.Name</CardTitle>
                            <CardSubtitle>@MyText?.baseTermHeader</CardSubtitle>
                        </CardHeader>
                        <CardBody>
                            <Field IsHorizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.baseTermName</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is10">
                                    <TextEdit Placeholder="@MyText?.baseTermName"
                                              @bind-Text="@BaseTermsState.Value.BaseTerm.Name" />
                                </FieldBody>
                            </Field>
                            <Field IsHorizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.baseTermDefinition</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is10">
                                    <TextEdit Placeholder="@MyText?.baseTermDefinition"
                                              @bind-Text="@BaseTermsState.Value.BaseTerm.Definition" />
                                </FieldBody>
                            </Field>
                            <Field IsHorizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.baseTermExamples</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is10">
                                    <ListExamples Examples="@BaseTermsState.Value.BaseTerm.GetExamples()" OnExampleCallback="OnExampleAdd" />
                                </FieldBody>
                            </Field>
                            <Field IsHorizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.baseTermSynonyms</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is10">
                                    <ListSynonyms Synonyms="@BaseTermsState.Value.BaseTerm.GetSynonyms()" OnSynonymCallback="OnSynonymAdd" />
                                </FieldBody>
                            </Field>
                            <Field IsHorizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.baseTermSlug</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is10">
                                    <TextEdit Placeholder="@MyText?.baseTermSlug" @bind-Text="@BaseTermsState.Value.BaseTerm.Slug" />
                                </FieldBody>
                            </Field>
                        </CardBody>
                        <CardFooter Padding="Padding.Is3">
                            <Field Horizontal="true">
                                <FieldBody ColumnSize="ColumnSize.Is12">
                                    <Buttons Role="ButtonsRole.Addons">

                                        <Button Type="ButtonType.Submit" Color="Color.Primary" Clicked="@OnSaveClicked">@MyText?.save</Button>
                                        <input class="button" type="button" value="@MyText?.back" onClick="history.back();">

                                        <Button Type="ButtonType.Submit" Color="Color.Info" Clicked="@OnSpeechPlClicked">@MyText?.speech</Button>
                                    </Buttons>
                                </FieldBody>
                            </Field>
                        </CardFooter>
                    </Card>
                }
            </Authorized>
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeView>
    </Column>
</Row>
