@page "/"
@page "/{SearchText}"
@inherits DicBasePage
<PageHeader IsLoading="@(SearchState?.Value.IsLoading ?? true)"
            CurrentAlertText="@CurrentAlert"
            LoadingText="@MyText?.Loading"
            HeaderText="@_currentHeader" />

<h3>@SearchText</h3>

<!-- Search buttons bar -->
<Addons>

    @if (_showOptionForBaseTerms)
    {
        <AuthorizeView Roles="@OriinDic.Helpers.Const.RolesEditors">
            <Authorized>
                <Addon AddonType="AddonType.Start">
                    <Dropdown>
                        <DropdownToggle Color="Color.Primary">
                            @MyText?.LinkTranslation
                        </DropdownToggle>
                        <DropdownMenu>
                            <DropdownItem TValue="byte" Value="@EnumHasTranslations.WithTranslations" 
                                          Clicked="@(_ => ClickedTranslationOption(EnumHasTranslations.WithTranslations))">@MyText?.BaseTermWithTranslations</DropdownItem>
                            <DropdownItem TValue="byte" Value="@EnumHasTranslations.WithoutTranslations" 
                                          Clicked="@(_ => ClickedTranslationOption(EnumHasTranslations.WithoutTranslations))">@MyText?.BaseTermWithoutTranslations</DropdownItem>
                            <DropdownDivider />
                            <DropdownItem TValue="byte" Value="@EnumHasTranslations.None" 
                                          Clicked="@(_ => ClickedTranslationOption(EnumHasTranslations.None))">@MyText?.BaseTermNone</DropdownItem>
                        </DropdownMenu>
                    </Dropdown>
                </Addon>
            </Authorized>
        </AuthorizeView>
    }
    else
    {
        <AuthorizeView Roles="@OriinDic.Helpers.Const.RolesEditors">
            <Authorized>
                <Addon AddonType="AddonType.Start">
                    <AddonLabel>@MyText?.Approved</AddonLabel>
                    <Check TValue="bool" @bind-Checked="@_currentTranslations"></Check>
                </Addon>
            </Authorized>
        </AuthorizeView>
    }

    <Addon AddonType="AddonType.Body">
        <TextEdit Placeholder="@MyText?.Search" Text="@SearchText"
                  TextChanged="@GoSearchText" />
    </Addon>

    <Addon AddonType="AddonType.End">
        <Buttons>
            <Keyboard KeyboardVisible="false" OnKeyCallback="@OnKeyboardKey" MyTextLoading="@MyText?.Loading" MyLanguage="@_currentLanguage1" />
            <Dropdown>
                <Button>@_currentLanguage1?.Name</Button>
                <DropdownToggle Color="Color.Primary" IsSplit="true" />

                <DropdownMenu>
                    @if (!(LanguagesState is null))
                    {
                        @foreach (var l in OriinDic.Helpers.Const.BaseLanguagesList)
                        {
                            <DropdownItem TValue="long" Value="@l" Clicked="@(_ => ClickedDropdownItem1(l))">@LanguagesState?.Value.GetLanguageName(l)</DropdownItem>
                            <DropdownDivider />
                        }
                    }
                </DropdownMenu>
            </Dropdown>
        </Buttons>
    </Addon>

    <Addon AddonType="AddonType.End">
        <Buttons>
            <Button Clicked="@SwapLanguages">
                <span role="img">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M6.99 11L3 15l3.99 4v-3H14v-2H6.99v-3zM21 9l-3.99-4v3H10v2h7.01v3L21 9z"></path></svg>
                </span>
            </Button>
        </Buttons>
    </Addon>

    <Addon AddonType="AddonType.End">
        <Buttons>
            <Keyboard KeyboardVisible="false" OnKeyCallback="@OnKeyboardKey" MyTextLoading="@MyText?.Loading" MyLanguage="@_currentLanguage2" />
            <Dropdown>
                <Button>@_currentLanguage2?.Name</Button>
                <DropdownToggle Color="Color.Primary" IsSplit="true" />
                <DropdownMenu>
                    @if (!(LanguagesState is null))
                    {
                        @foreach (var l in LanguagesState.Value.TranslationLanguages)
                        {
                            <DropdownItem TValue="long" Value="@l.Id" Clicked="@(_ => ClickedDropdownItem2(l))">@l.Name</DropdownItem>
                            <DropdownDivider />
                        }
                    }

                </DropdownMenu>
            </Dropdown>
        </Buttons>
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Success"
                Clicked="@ButtonSearchClicked">
            @MyText?.Search
        </Button>

    </Addon>
</Addons>


<DataGrid TItem="SearchItem"
          Data="SearchState?.Value.SearchItems"
          ReadData="@OnReadData"
          ShowPager="false"
          Editable="false"
          EditMode="DataGridEditMode.Inline"
          UseInternalEditing="true"
          PageSize="@((int)_itemsPerPage)"
          Sortable="true"
          SortMode="DataGridSortMode.Single"
          Filterable="false"
          Striped="true"
          Bordered="true"
          Responsive="true"
          Hoverable="true">
    <DataGridColumns>
        <DataGridColumn TItem="SearchItem" Field="@nameof(SearchItem.BaseName)" Caption="@MyText?.TermTitle">
            <DisplayTemplate>
                @{
                    var locDic = context as SearchItem;
                    if (locDic.BaseName is null)
                    {
                        <div class="box @SearchState?.Value.ButtonPlColor">
                            <a href="/addbaseterm">@MyText?.AddBase</a>
                        </div>
                    }
                    else
                    {
                        <div class="box @SearchState?.Value.ButtonPlColor">
                            <a href="/editbaseterm/@locDic.BaseTermSlug">
                                "@locDic.BaseName"
                            </a>
                        </div>
                    }
                }
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="SearchItem" Field="@nameof(SearchItem.BaseName)" Caption="@MyText?.TranslationTitle">
            <DisplayTemplate>
                @{
                    var locDic = context as SearchItem;
                    if (locDic.TranslateName is null)
                    {
                        <div class="box @SearchState?.Value.ButtonEnColor">
                            <a href="/addtranslation/@locDic.BaseTermId">@MyText?.AddTranslation</a>
                        </div>
                    }
                    else
                    {
                        <div class="box @SearchState?.Value.ButtonEnColor">
                            <a href="/edittranslation/@locDic.TranslateId">"@locDic.TranslateName"</a>
                        </div>
                    }
                }
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>



@if (SearchState?.Value.PaginationShow ?? false)
{
    <MyPagination LocalPages="@SearchState?.Value.LocalPages"
                  SearchPageNr="@_searchPageNr"
                  TotalPages="@(SearchState?.Value.TotalPages ?? 0)"
                  PrevText="@MyText?.Next"
                  NextText="@MyText?.Previous"
                  OnClickCallback="OnPageClick">
    </MyPagination>
}


<!-- Information for search -->
<Addons>
    <Addon AddonType="AddonType.End">
        <AddonLabel>@MyText?.LoadedNrRows</AddonLabel>
    </Addon>
    <Addon AddonType="AddonType.End">
        <AddonLabel>@(SearchState?.Value.TotalSearchItems ?? 0)</AddonLabel>
    </Addon>
    <Addon AddonType="AddonType.End">
    </Addon>
</Addons>
<SurveyPrompt Title="@MyText?.SomethingWrong" />