@page "/dictionaryLanguages"
@inherits DicBasePage

<PageHeader IsLoading="@(LanguagesState?.Value.IsLoading ?? true)" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.Loading" HeaderText="@MyText?.LangHeader" />
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>@MyText?.LangHeader</CardTitle>
            </CardHeader>
            <CardBody>

                @if (LanguagesState?.Value.Languages is null)
            {
                <p>
                        <em>@MyText?.Loading</em>
                    </p>
            }
            else
            {
                <Table Striped="true" Hoverable="true">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>@MyText?.LangId</TableHeaderCell>
                                <TableHeaderCell>@MyText?.LangCode</TableHeaderCell>
                                <TableHeaderCell>@MyText?.LangName</TableHeaderCell>
                                <TableHeaderCell>@MyText?.LangSpecialChars</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            @foreach (var lang in LanguagesState.Value.Languages)
                        {
                            <TableRow>
                                    <TableRowHeader>@lang.Id</TableRowHeader>
                                    <TableRowCell>@lang.Code</TableRowCell>
                                    <TableRowCell>@lang.Name</TableRowCell>
                                    <TableRowCell>@lang.SpecialCharacters</TableRowCell>
                                </TableRow>
                        }
                        </TableBody>
                    </Table>
            }
                
            </CardBody>
        </Card>
    </Column>
</Row>