@page "/login"
@inherits DicBasePage

<PageHeader IsLoading="@_isLoading" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.Loading" HeaderText="@MyText?.LoginHeader" />

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>@MyText?.LoginHeader : @MyText?.LoginSubtitle</CardTitle>
            </CardHeader>
            <CardBody>
                <EditForm Model="@_loginModel">
                    <DataAnnotationsValidator />
                    <Field IsHorizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.LoginName</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is9">
                            <TextEdit @bind-Text="@_loginModel.Username"
                                      Placeholder="@MyText?.LoginName" />
                        </FieldBody>
                    </Field>
                    <Field IsHorizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.LoginPassword</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is9">
                            <TextEdit @bind-Text="@_loginModel.Password"
                                      Role="TextRole.Password" Placeholder="@MyText?.LoginPassword" />
                        </FieldBody>
                    </Field>
                    <Field IsHorizontal="true" JustifyContent="JustifyContent.End">
                        <FieldLabel ColumnSize="ColumnSize.Is3"></FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is9">
                            <Button Type="ButtonType.Submit" Clicked="@HandleLogin" Color="Color.Primary">@MyText?.LoginButton</Button>
                        </FieldBody>
                    </Field>
                </EditForm>
            </CardBody>
        </Card>
    </Column>
</Row>