@page "/user/{UserId:long}"
@attribute [Authorize]
@using OriinDic.Helpers
@inherits DicBasePage

<PageHeader IsLoading="@(UserState?.Value.IsLoading ?? true)" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.Loading" HeaderText="@MyText?.HeaderUser" />

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>@MyText?.PersonalDataHeader</CardTitle>
                <CardSubtitle>@MyText?.PersonalDataSubtitle</CardSubtitle><br />

            </CardHeader>
            <CardBody>

                <DataAnnotationsValidator />
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.Email</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <div class="control"><strong>@User.Email</strong></div>
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.UserName</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <div class="control"><strong>@User.UserName</strong></div>
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.FirstName</FieldLabel>
                    <div class="control"><strong>@User.FirstName</strong></div>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.LastName</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <div class="control"><strong>@User.LastName</strong></div>
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.Gender</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <RadioGroup TValue="string" Inline="true" Name="genderGroup" @bind-CheckedValue="@User.Gender" ReadOnly="true">
                            <Radio TValue="string" Value="@Const.FemaleGenderVal">@MyText?.FemaleGender</Radio>
                            <Radio TValue="string" Value="@Const.MaleGenderVal">@MyText?.MaleGender</Radio>
                            <Radio TValue="string" Value="@Const.NoGenderVal">@MyText?.NoGender</Radio>
                        </RadioGroup>
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.Language</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        @if (!(LanguagesState is null))
                        {
                            @foreach (var lang in LanguagesState.Value.Languages)
                            {
                                <div class="control"><strong>@lang.Name</strong></div>
                            }
                        }

                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.TranslatingLanguages</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        @if (IsSuperUser)
                        {
                            <div class="field"><div class="control"><strong>@MyText?.SuperUserHasAll</strong></div></div>
                        }
                        else
                        {
                            @if (!(LanguagesState is null))
                            {

                                @foreach (var langT in LanguagesState.Value.Languages)
                                {
                                    <div class="field">
                                        <div class="control">
                                            <div class="control"><strong>@langT.Name</strong></div>
                                        </div>
                                    </div>
                                }
                            }

                        }
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.CoordinatingLanguages</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        @if (IsSuperUser)
                        {
                            <div class="field"><div class="control"><strong>@MyText?.SuperUserHasAll</strong></div></div>
                        }
                        else
                        {

                            @if (!(LanguagesState is null))
                            {
                                @foreach (var langC in LanguagesState.Value.Languages)
                                {
                                    <div class="field">
                                        <div class="control">
                                            <label class="checkbox" for="@langC.Name"></label>
                                            <div class="control"><strong>@langC.Name</strong></div>
                                        </div>
                                    </div>
                                }
                            }

                        }
                    </FieldBody>
                </Field>

            </CardBody>
        </Card>
    </Column>
</Row>