@page "/password/reset/confirm/"
@inherits DicBasePage

<PageHeader IsLoading="@_isLoading" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.Loading" HeaderText="" />


<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>@MyText?.PasswordChange</CardTitle>
            </CardHeader>
            <CardBody>
                <Validations Mode="ValidationMode.Auto" ValidateOnLoad="false">
                    <Validation Validator="@ValidatePassword">
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.NewPassword</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is9">
                                <TextEdit Role="TextRole.Password"
                                          Placeholder="@MyText?.NewPassword"
                                          @bind-Text="@User.NewPassword">
                                    <Feedback>
                                        <FieldHelp>Please enter a new password</FieldHelp>
                                        <ValidationError>You must enter new password which is at least 6 characters length</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation Validator="@ValidatePassword2">
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.ReNewPassword</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is9">
                                <TextEdit Role="TextRole.Password"
                                          Placeholder="@MyText?.ReNewPassword"
                                          @bind-Text="@User.ReNewPassword">
                                    <Feedback>
                                        <FieldHelp>Please re-enter a new password</FieldHelp>
                                        <ValidationError>You must re enter this same new password</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>                    
                </Validations>
                <Field Horizontal="true" JustifyContent="JustifyContent.End">
                    <FieldLabel ColumnSize="ColumnSize.Is3"></FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">

                        <Buttons Role="ButtonsRole.Toolbar">
                            <Buttons Margin="Margin.Is2.FromRight">
                                <Button Type="ButtonType.Submit" Clicked="@HandlePasswordReset" Color="Color.Secondary">@MyText?.Confirm</Button>
                            </Buttons>

                        </Buttons>
                    </FieldBody>
                </Field>
            </CardBody>
        </Card>
    </Column>
</Row>