@page "/settings"
@inherits DicBasePage

<PageHeader IsLoading="@isLoading" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.loading" HeaderText="@MyText?.users" />

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>@MyText?.settingsHeader</CardTitle>
                <CardSubtitle>@MyText?.settingsSubtitle</CardSubtitle><br />
            </CardHeader>
            <CardBody>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.rowsPerPage</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <NumericEdit TValue="long" @bind-Value="@_rowsPerPage" />
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.currentTranslations</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <Check TValue="bool" @bind-Checked="@_currentTranslations">All</Check>
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.settingsCurrentLang</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">

                        <Select @bind-SelectedValue="@_selectedLanguage">
                            @if (!(LanguagesState is null))
                            {
                                @foreach (var lang in LanguagesState.Value.Languages)
                                {
                                    <SelectItem Value="@lang.Id">@lang.Name</SelectItem>
                                }
                            }
                        </Select>

                    </FieldBody>
                </Field>
            </CardBody>
            <CardFooter Padding="Padding.Is3">
                <Field IsHorizontal="true" JustifyContent="JustifyContent.End">
                    <FieldBody ColumnSize="ColumnSize.Is12">
                        <Buttons Role="ButtonsRole.Addons">
                            <Button Type="ButtonType.Submit" Clicked="@HandleSave" Color="Color.Primary">@MyText?.save</Button>
                        </Buttons>
                    </FieldBody>
                </Field>
            </CardFooter>
        </Card>
    </Column>
</Row>