@page "/settings"
@inherits DicBasePage

<PageHeader IsLoading="@_isLoading" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.Loading" HeaderText="@MyText?.Users" />

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>@MyText?.SettingsHeader</CardTitle>
                <Field IsHorizontal="true" JustifyContent="JustifyContent.End">
                    <FieldBody ColumnSize="ColumnSize.Is12">
                        <Buttons Role="ButtonsRole.Addons">
                            <Button Type="ButtonType.Submit" Clicked="@HandleSave" Color="Color.Primary">@MyText?.Save</Button>
                        </Buttons>
                    </FieldBody>
                </Field>
            </CardHeader>
            <CardBody>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.RowsPerPage</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <NumericEdit TValue="long" @bind-Value="@_rowsPerPage" />
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.CurrentTranslations</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <Check TValue="bool" @bind-Checked="@_currentTranslations">@MyText?.Approved</Check>
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.SettingsCurrentLang</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">

                        <Select @bind-SelectedValue="@_selectedLanguage">
                            @if (LanguagesState is not null)
                            {
                                @foreach (var lang in LanguagesState.Value.Languages)
                                {
                                    <SelectItem Value="@lang.Id">@lang.Name</SelectItem>
                                }
                            }
                        </Select>

                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.SettingsThemeEnabled</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <Switch TValue="bool" Checked="@(Theme?.Enabled == true)" CheckedChanged="@OnThemeEnabledChanged">@MyText?.SettingsThemeEnabled</Switch>
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.SettingsThemeGradientColors</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <Switch TValue="bool" Checked="@(Theme?.IsGradient == true)" CheckedChanged="@OnGradientChanged">@MyText?.SettingsThemeGradientColors</Switch>
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.SettingsThemeRoundedElements</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <Switch TValue="bool" Checked="@(Theme?.IsRounded == true)" CheckedChanged="@OnRoundedChanged">@MyText?.SettingsThemeRoundedElements</Switch>
                    </FieldBody>
                </Field>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.SettingsThemePrimaryColor</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <Container Fluid="true">
                            <ThemeColorSelector Value="@(Theme?.ColorOptions?.Primary)" ValueChanged="@OnThemeColorChanged"></ThemeColorSelector>
                        </Container>
                    </FieldBody>
                </Field>
            </CardBody>

        </Card>
    </Column>
</Row>