@page "/settings"
@inherits DicBasePage

<PageHeader IsLoading="@_isLoading" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.Loading" HeaderText="@MyText?.Users" />

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>@MyText?.SettingsHeader</CardTitle>

            </CardHeader>
            <CardBody>

                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.RowsPerPage</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <NumericEdit TValue="long" @bind-Value="@_rowsPerPage">
                            <Feedback>
                                <FieldHelp>@MyText?.RowsPerPageHelp</FieldHelp>
                            </Feedback>
                        </NumericEdit>
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3" />
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <Switch TValue="bool" @bind-Checked="@_currentTranslations">
                            <ChildContent>@MyText?.Approved</ChildContent>
                            <Feedback>
                                <FieldHelp>@MyText?.CurrentTranslationsHelp</FieldHelp>
                            </Feedback>
                        </Switch>
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.SettingsCurrentLang</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">

                        <Select @bind-SelectedValue="@_selectedLanguage">
                            <ChildContent>
                                @if (LanguagesState is not null)
                                {
                                    @foreach (var lang in LanguagesState.Value.Languages)
                                    {
                                        <SelectItem Value="@lang.Id">@lang.Name</SelectItem>
                                    }
                                }
                            </ChildContent>
                            <Feedback>
                                <div class="field">
                                    <small>
                                        @MyText?.SettingsCurrentLangHelp
                                    </small>
                                </div>                                
                            </Feedback>
                        </Select>
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3" />
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <Switch TValue="bool" Checked="@(Theme?.Enabled == true)" CheckedChanged="@OnThemeEnabledChanged">
                            <ChildContent>
                                @MyText?.SettingsThemeEnabled
                            </ChildContent>
                            <Feedback>                                
                                <div class="field">
                                    <small>
                                        @MyText?.SettingsThemeEnabledHelp
                                    </small>
                                </div>
                            </Feedback>
                        </Switch>
                    </FieldBody>
                </Field>

                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3" />
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <Switch TValue="bool" Checked="@(Theme?.IsRounded == true)" CheckedChanged="@OnRoundedChanged">
                            <ChildContent>@MyText?.SettingsThemeRoundedElements</ChildContent>
                            <Feedback>
                                <div class="field">
                                    <small>
                                        @MyText?.SettingsThemeRoundedElementsHelp
                                    </small>
                                </div>                                
                            </Feedback>
                        </Switch>
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is3">@MyText?.SettingsThemePrimaryColor</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is9">
                        <Container Fluid="true">
                            <ChildContent>
                                <ThemeColorSelector Value="@ThemeColor" ValueChanged="@OnThemeColorChanged"></ThemeColorSelector>
                                <div class="field">
                                    <small>
                                        @MyText?.SettingsThemePrimaryColorHelp
                                    </small>
                                </div>
                            </ChildContent>
                        </Container>
                    </FieldBody>
                </Field>

                <Field Horizontal="true" JustifyContent="JustifyContent.End">
                    <FieldLabel ColumnSize="ColumnSize.Is3" />
                    <FieldBody ColumnSize="ColumnSize.Is9">

                        <Buttons Role="ButtonsRole.Toolbar">
                            <Buttons Margin="Margin.Is2.FromEnd">
                                <Button Type="ButtonType.Submit" Clicked="@HandleSave" Color="Color.Primary">@MyText?.Save</Button>
                            </Buttons>

                        </Buttons>
                    </FieldBody>
                </Field>
            </CardBody>

        </Card>
    </Column>
</Row>