@page "/edittranslation/{TranslationId:long}"

@using OriinDic.Helpers
@inherits DicBasePage

<PageHeader IsLoading="@(TranslationsState?.Value.IsLoading ?? true)" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.loading" HeaderText="" />

@if (TranslationsState?.Value?.Translation is null)
{
    <a href="/">@MyText?.noData</a>
}
else
{
    <Row>
        <Column>
            <Card Margin="Margin.Is4.OnY">
                <CardHeader>
                    <CardTitle>[@TranslationLanguage] @TranslationsState.Value.Translation.Name</CardTitle>
                    <CardSubtitle>@MyText?.translationHeader</CardSubtitle><br />
                </CardHeader>
                <CardBody>

                    <Field IsHorizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.translationName</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <AuthorizeView Roles="@Const.RolesBaseEditors">
                                <Authorized>
                                    <TextEdit Placeholder="@MyText?.translationName"
                                              @bind-Text="@TranslationsState.Value.Translation.Name" />
                                </Authorized>
                                <NotAuthorized>
                                    <div class="field"><div class="control">@TranslationsState.Value.Translation.Name</div></div>
                                </NotAuthorized>
                            </AuthorizeView>
                        </FieldBody>
                    </Field>
                    <Field IsHorizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.translationCurrent</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <AuthorizeView Roles="@Const.RolesBaseEditors">
                                <Authorized>
                                    <Check @bind-Checked="@TranslationsState.Value.Translation.Current"></Check>
                                </Authorized>
                                <NotAuthorized>
                                    <Check @bind-Checked="@TranslationsState.Value.Translation.Current" Disabled="true"></Check>
                                </NotAuthorized>
                            </AuthorizeView>
                        </FieldBody>
                    </Field>
                    <Field IsHorizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.translationDefinition</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <AuthorizeView Roles="@Const.RolesBaseEditors">
                                <Authorized>
                                    <TextEdit Placeholder="@MyText?.translationDefinition"
                                              @bind-Text="@TranslationsState.Value.Translation.Definition" />
                                </Authorized>
                                <NotAuthorized>
                                    <div class="field"><div class="control">@TranslationsState.Value.Translation.Definition</div></div>
                                </NotAuthorized>
                            </AuthorizeView>
                        </FieldBody>
                    </Field>
                    <Field IsHorizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is2">Info</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <Label>
                                @MyText?.translationLastEdit: @TranslationsState.Value.Translation.LastEdit.User.UserName,
                                @MyText?.translationLastApproval: @TranslationsState.Value.Translation.LastApproval.User.UserName,
                                @MyText?.translationTitle: @TranslationsState.Value.Translation.Id
                            </Label>
                        </FieldBody>
                    </Field>
                </CardBody>
                <CardFooter Padding="Padding.Is3">
                    <Field Horizontal="true">
                        <FieldBody ColumnSize="ColumnSize.Is12">
                            <Buttons Role="ButtonsRole.Addons">
                                <AuthorizeView Roles="@Const.RolesEditors">
                                    <Authorized>
                                        <Button Type="ButtonType.Submit" Color="Color.Primary" Clicked="@OnSaveClicked">@MyText?.save</Button>
                                    </Authorized>
                                </AuthorizeView>
                                <input class="button" type="button" value="@MyText?.back" onClick="history.back();">
                                <Button Type="ButtonType.Submit" Color="Color.Info" Clicked="@OnSpeechEnClicked">@MyText?.speech</Button>
                            </Buttons>
                        </FieldBody>
                    </Field>
                </CardFooter>

            </Card>
            @if (TranslationsState?.Value?.BaseTerm is null)
            {
                <a href="/">Base term @MyText?.noData !</a>
            }
            else
            {

                <Card Margin="Margin.Is4.OnY">
                    <CardHeader>
                        <CardTitle>[@BaseTermLanguage]@TranslationsState.Value.BaseTerm.Name</CardTitle>
                        <CardSubtitle>@MyText?.baseTermHeader</CardSubtitle>
                    </CardHeader>
                    <CardBody>
                        <Field IsHorizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.baseTermName</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <Label>@TranslationsState.Value.BaseTerm.Name</Label>
                            </FieldBody>
                        </Field>
                        <Field IsHorizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.baseTermDefinition</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <Label>@TranslationsState.Value.BaseTerm.Definition</Label>
                            </FieldBody>
                        </Field>
                        <Field IsHorizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.baseTermExamples</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                @if (TranslationsState?.Value?.BaseTerm?.Examples is null)
                                {
                                    <Label>@MyText?.noData</Label>
                                }
                                else
                                {
                                    @foreach (var example in TranslationsState.Value.BaseTerm.Examples)
                                    {
                                        <Label>@example</Label>
                                    }
                                }
                            </FieldBody>
                        </Field>
                        <Field IsHorizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.baseTermSynonyms</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                @if (TranslationsState?.Value?.BaseTerm?.Synonyms is null)
                                {
                                    <Label>@MyText?.noData</Label>
                                }
                                else
                                {
                                    @foreach (var synonym in TranslationsState.Value.BaseTerm.Synonyms)
                                    {
                                        <Label>@synonym</Label>
                                    }
                                }
                            </FieldBody>
                        </Field>
                        <Field IsHorizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.baseTermSlug</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <Label>@TranslationsState.Value.BaseTerm.Slug</Label>
                            </FieldBody>
                        </Field>
                        <Field IsHorizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">Info</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <Label>
                                    @MyText?.baseTermLanguage: @BaseTermLanguage,
                                    @MyText?.baseTermLastEdit: @(TranslationsState.Value.BaseTerm?.LastEdit?.User.UserName ?? string.Empty)
                                </Label>
                            </FieldBody>
                        </Field>
                    </CardBody>
                    <CardFooter Padding="Padding.Is3">
                        <Field Horizontal="true">
                            <FieldBody ColumnSize="ColumnSize.Is12">
                                <Buttons Role="ButtonsRole.Addons">
                                    <div class="button has-background-primary">
                                        <a href="/editBaseTerm/@TranslationsState.Value.Translation.BaseTermId">
                                            <AuthorizeView Roles="@Const.RolesEditors">
                                                <Authorized>
                                                    @MyText?.editBaseTerm
                                                </Authorized>
                                                <NotAuthorized>
                                                    @MyText?.linkBaseTerm
                                                </NotAuthorized>
                                            </AuthorizeView>
                                        </a>
                                    </div>
                                    <Button Type="ButtonType.Submit" Color="Color.Info" Clicked="@OnSpeechPlClicked">@MyText?.speech</Button>
                                </Buttons>
                            </FieldBody>
                        </Field>
                    </CardFooter>

                </Card>
            }

            @if (TranslationsState?.Value?.Comments is null)
            {
                <div>Comments @MyText?.noData </div>
            }
            else
            {
                <Card Margin="Margin.Is4.OnY">
                    <CardHeader>
                        <CardSubtitle>Komentarze</CardSubtitle>
                    </CardHeader>
                    <CardBody>
                        <AuthorizeView Roles="@Const.RolesEditors">
                            <Authorized>
                                <ListComments Comments="@TranslationsState.Value.Comments" OnCommentAdd="OnCommentAdd" />
                            </Authorized>
                            <NotAuthorized>
                                @if (!(TranslationsState?.Value?.Comments is null))
                                {
                                    <ListGroup Flush="true">
                                        @foreach (var comment in TranslationsState.Value.Comments)
                                        {
                                            <ListGroupItem>
                                                <Field Horizontal="true" Padding="Padding.IsAuto.OnAll">
                                                    <FieldBody ColumnSize="ColumnSize.Is12">
                                                        @if (!(comment is null))@comment.Text
                                                    </FieldBody>
                                                </Field>
                                            </ListGroupItem>
                                        }
                                    </ListGroup>
                                }
                            </NotAuthorized>
                        </AuthorizeView>
                    </CardBody>
                </Card>
            }
        </Column>
    </Row>
}