@page "/edittranslation/{TranslationId:long}"

@using OriinDic.Helpers
@inherits DicBasePage

<PageHeader IsLoading="@(TranslationsState?.Value.IsLoading ?? true)" CurrentAlertText="@CurrentAlert" LoadingText="@MyText?.Loading" HeaderText="@HeaderForTranslation" />

@if (TranslationsState?.Value?.Translation is null)
{
    <a href="/">@MyText?.NoData</a>
}
else
{
    <AuthorizeView Roles="@Const.RolesEditors" Context="cre0">
        <Authorized>
            <Row>
                <Column>
                    <Card Margin="Margin.Is4.OnY">
                        <CardHeader>
                            <CardTitle>
                                [@TranslationLanguage] @(TranslationsState.Value.Translation.Name ?? string.Empty)
                            </CardTitle>
                        </CardHeader>
                        <CardBody>
                            <Validations Mode="ValidationMode.Auto">
                                <Validation Validator="@ValidationRule.IsNotEmpty">
                                    <Field Horizontal="true">
                                        <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.TranslationName</FieldLabel>
                                        <FieldBody ColumnSize="ColumnSize.Is10">
                                            <TextEdit Placeholder="@MyText?.TranslationName"
                                                      @bind-Text="@TranslationsState.Value.Translation.Name">                                                
                                                <Feedback>
                                                    <FieldHelp>@MyText?.TranslationNameHelp</FieldHelp>
                                                    <ValidationError>@MyText?.TranslationNameError</ValidationError>
                                                </Feedback>
                                            </TextEdit>
                                        </FieldBody>
                                    </Field>
                                </Validation>
                                <Validation>
                                    <Field Horizontal="true">
                                        <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.TranslationCurrent</FieldLabel>
                                        <FieldBody ColumnSize="ColumnSize.Is10">
                                            <Switch TValue="bool" @bind-Checked="@TranslationsState.Value.Translation.Current">
                                                <ChildContent>@MyText?.TranslationCurrent</ChildContent>
                                                <Feedback>
                                                    <FieldHelp>@MyText?.TranslationCurrentHelp</FieldHelp>
                                                </Feedback>
                                            </Switch>
                                        </FieldBody>
                                    </Field>
                                </Validation>
                                <Validation>
                                    <Field Horizontal="true">
                                        <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.TranslationDefinition</FieldLabel>
                                        <FieldBody ColumnSize="ColumnSize.Is10">
                                            <TextEdit Placeholder="@MyText?.TranslationDefinition"
                                                        @bind-Text="@TranslationsState.Value.Translation.Definition">
                                                <Feedback>
                                                    <FieldHelp>@MyText?.TranslationDefinitionHelp</FieldHelp>
                                                </Feedback>
                                            </TextEdit>
                                        </FieldBody>
                                    </Field>
                                </Validation>
                                <Field Horizontal="true">
                                    <FieldLabel ColumnSize="ColumnSize.Is2">Info</FieldLabel>
                                    <FieldBody ColumnSize="ColumnSize.Is10">
                                        <Label>
                                            @MyText?.TranslationLastEdit:
                                            @(TranslationsState.Value.Translation.LastEdit?.User?.UserName ?? string.Empty) ,
                                            @MyText?.TranslationLastApproval:
                                            @(TranslationsState.Value.Translation.LastApproval?.User?.UserName ?? string.Empty),
                                            @MyText?.TranslationTitle:
                                            @TranslationsState.Value.Translation.Id
                                        </Label>
                                    </FieldBody>
                                </Field>
                            </Validations>
                        </CardBody>
                        <CardFooter Padding="Padding.Is3">
                            <Field Horizontal="true">
                                <FieldBody ColumnSize="ColumnSize.Is12">
                                    <Buttons Role="ButtonsRole.Addons">
                                        <Button Type="ButtonType.Submit" Color="Color.Primary" Clicked="@OnSaveClicked">
                                            @MyText?.Save
                                        </Button>

                                        @if (!TranslationsState.Value.Translation.Current)
                                        {
                                            <AuthorizeView Roles="@Const.RolesUsersEditors" Context="ctx1">
                                                <Authorized>
                                                    <Button Type="ButtonType.Button" Color="Color.Dark" Clicked="@OnApprove">
                                                        @MyText?.TranslationApproval
                                                    </Button>
                                                </Authorized>
                                            </AuthorizeView>
                                        }
                                        <Button Type="ButtonType.Button" Color="Color.Light" onClick="history.back();">
                                            @MyText?.Back
                                        </Button>
                                        <Button Type="ButtonType.Submit" Color="Color.Info" Clicked="@OnSpeechEnClicked">
                                            @MyText?.Speech
                                        </Button>
                                    </Buttons>
                                </FieldBody>
                            </Field>
                        </CardFooter>

                    </Card>
                </Column>
            </Row>
        </Authorized>
        <NotAuthorized>
            <Row>
                <Column>
                    <Card Margin="Margin.Is4.OnY">
                        <CardHeader>
                            <CardTitle>
                                [@TranslationLanguage] @(TranslationsState.Value.Translation.Name ?? string.Empty)
                            </CardTitle>
                        </CardHeader>
                        <CardBody>

                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.TranslationName</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is10">
                                    <div class="field">
                                        <div class="control">@(TranslationsState.Value.Translation.Name ?? string.Empty)</div>
                                    </div>
                                </FieldBody>
                            </Field>
                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.TranslationCurrent</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is10">
                                    <Check @bind-Checked="@TranslationsState.Value.Translation.Current" Disabled="true"></Check>
                                </FieldBody>
                            </Field>
                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.TranslationDefinition</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is10">
                                    <div class="field">
                                        <div class="control">@(TranslationsState.Value.Translation.Definition ?? string.Empty)</div>
                                    </div>
                                </FieldBody>
                            </Field>
                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is2">Info</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is10">
                                    <Label>
                                        @MyText?.TranslationLastEdit:
                                        @(TranslationsState.Value.Translation.LastEdit.User.UserName ?? string.Empty) ,
                                        @MyText?.TranslationLastApproval:
                                        @(TranslationsState.Value.Translation.LastApproval.User.UserName ?? string.Empty),
                                        @MyText?.TranslationTitle:
                                        @TranslationsState.Value.Translation.Id
                                    </Label>
                                </FieldBody>
                            </Field>
                        </CardBody>
                        <CardFooter Padding="Padding.Is3">
                            <Field Horizontal="true">
                                <FieldBody ColumnSize="ColumnSize.Is12">
                                    <Buttons Role="ButtonsRole.Addons">
                                        <Button Type="ButtonType.Button" Color="Color.Light" onClick="history.back();">
                                            @MyText?.Back
                                        </Button>
                                        <Button Type="ButtonType.Submit" Color="Color.Info" Clicked="@OnSpeechEnClicked">
                                            @MyText?.Speech
                                        </Button>
                                    </Buttons>
                                </FieldBody>
                            </Field>
                        </CardFooter>
                    </Card>
                </Column>
            </Row>
        </NotAuthorized>
    </AuthorizeView>
    <Row>
        <Column>
            @if (TranslationsState?.Value?.BaseTerm is null)
            {
                <a href="/">@MyText?.BaseTermNone</a>
            }
            else
            {
                <Card Margin="Margin.Is4.OnY">
                    <CardHeader>
                        <CardTitle>[@BaseTermLanguage]@TranslationsState.Value.BaseTerm.Name</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.BaseTermName</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <Label>@TranslationsState.Value.BaseTerm.Name</Label>
                            </FieldBody>
                        </Field>
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.BaseTermDefinition</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <Label>@(TranslationsState.Value.BaseTerm.Definition ?? string.Empty)</Label>
                            </FieldBody>
                        </Field>
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.BaseTermExamples</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                @if (TranslationsState.Value?.BaseTerm.Examples is null)
                                {
                                    <Label>@MyText?.NoData</Label>
                                }
                                else
                                {
                                    @foreach (var example in TranslationsState.Value.BaseTerm.Examples)
                                    {
                                        <Label>@example</Label>
                                    }
                                }
                            </FieldBody>
                        </Field>
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.BaseTermSynonyms</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                @if (TranslationsState.Value?.BaseTerm.Synonyms is null)
                                {
                                    <Label>@MyText?.NoData</Label>
                                }
                                else
                                {
                                    @foreach (var synonym in TranslationsState.Value.BaseTerm.Synonyms)
                                    {
                                        <Label>@synonym</Label>
                                    }
                                }
                            </FieldBody>
                        </Field>
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">@MyText?.BaseTermSlug</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <Label>@TranslationsState.Value.BaseTerm.Slug</Label>
                            </FieldBody>
                        </Field>
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">Info</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <Label>
                                    @MyText?.BaseTermLanguage:
                                    @BaseTermLanguage,
                                    @MyText?.BaseTermLastEdit:
                                    @(TranslationsState.Value.BaseTerm.LastEdit?.User.UserName ?? string.Empty)
                                </Label>
                            </FieldBody>
                        </Field>
                    </CardBody>
                    <CardFooter Padding="Padding.Is3">
                        <Field Horizontal="true">
                            <FieldBody ColumnSize="ColumnSize.Is12">
                                <Buttons Role="ButtonsRole.Addons">
                                    <AuthorizeView Roles="@Const.RolesEditors" Context="cre">
                                        <Authorized>
                                            <Button Color="Color.Primary" Type="ButtonType.Link"
                                                    To="@($"/editBaseTerm/{TranslationsState.Value.Translation.BaseTermId}")">
                                                @MyText?.EditBaseTerm
                                            </Button>
                                        </Authorized>
                                        <NotAuthorized>
                                            <Button Color="Color.Primary" Type="ButtonType.Link"
                                                    To="@($"/editBaseTerm/{TranslationsState.Value.Translation.BaseTermId}")">
                                                @MyText?.LinkBaseTerm
                                            </Button>
                                        </NotAuthorized>
                                    </AuthorizeView>

                                    <Button Type="ButtonType.Submit" Color="Color.Info" Clicked="@OnSpeechPlClicked">
                                        @MyText?.Speech
                                    </Button>
                                </Buttons>
                            </FieldBody>
                        </Field>
                    </CardFooter>

                </Card>
            }

            @if (TranslationsState?.Value?.Comments is not null)
            {
                <Card Margin="Margin.Is4.OnY">
                    <CardHeader>
                        <CardTitle>@MyText?.Comments</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <AuthorizeView Roles="@Const.LinksAndComments" Context="cre2">
                            <Authorized>
                                <ListComments Comments="@TranslationsState.Value.Comments" OnCommentAdd="OnCommentAdd" />
                            </Authorized>
                            <NotAuthorized>
                                @if (TranslationsState.Value?.Comments is not null)
                                {
                                    @foreach (var comment in TranslationsState.Value.Comments)
                                    {
                                        <div class="box">
                                            <article class="media">
                                                <div class="media-content">
                                                    <div class="content">
                                                        <p>
                                                            <strong>
                                                                @($"{comment.User.FirstName} {comment.User.FirstName}")
                                                            </strong>&nbsp;<small>@($"{comment.User.UserName}")</small>
                                                            <small>@($"{comment.Date:g}")</small>
                                                            <br>
                                                            @($"{comment.Text}")
                                                        </p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    }
                                }
                            </NotAuthorized>
                        </AuthorizeView>
                    </CardBody>
                </Card>
            }
        </Column>
    </Row>
}